@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Noto Sans", sans-serif;

}
body{
  margin: 0;
  background-color: #f6f6f6;
  height: 100vh;
}